<div id="tm-newsletter-popup" class="newsletter-popup-wrap">
	<div class="newsletter-popup">
		<div class="box-content">
			<h2>
				Newsletter
			</h2>
			<p>
				Sign up to receive emails on new product arrivals, special offers and exclusive events
			</p>
			<form method="post" enctype="multipart/form-data" id="tm-newsletter-popup-form">
				<div class="tm-login-form">
					<label class="control-label" for="input-tm-newsletter-popup-email"></label>
					<input type="text" name="zemez_newsletter_popup_email" value="" placeholder="Your Email Address" id="input-tm-newsletter-popup-email" class="form-control"/>
					<button type="submit" id="tm-newsletter-popup-button" class="newsletter-popup-btn btn">
						Subscribe
					</button>
					<span id="tm-newsletter-popup_error" class="newsletter-error"></span>
					<span id="tm-newsletter-popup_success" class="newsletter-success"></span>
				</div>
			</form>
		</div>
		<a href="index.php#" id="newsletter-popup-close-btn" class="newsletter-popup-close-btn fa fa-times"></a>
	</div>
</div>
